@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Citas Médicas</h1>
    <img width="800" src="~/Images/citas.jpg" alt="Imagen de fondo"/>
</div>
